Package: ds1307service
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: cloudpark.com.br
Description: This package enable ds1307 RTC component and sync your date
